/* General

================================================

*/

body {
    font-family: apple-system;
    font-size: 14px;
    line-height: 24px;
    background-color: #b3e5fc;
    color: black;
}

::placeholder {
    color: #01579b;
}

.footer {
    margin-top: 10vh;
    padding-bottom: 15vh;
    text-align: center;
}

.text, .textForm {
    display: inline-block;
    color: black;
}

.productForm {
    margin-left: 230px; 
    margin-right: 230px;
}
#imageSize {
    height: 30vh;
    width: 30vw;
}

.nav {
    background-color: #b3e5fc;
}

.nav-wrapper {
    background-color: #01579b;
}

.nav-link {
    font-size: 16px;
}

.user-image-size {
    height: 55px;
    width: 48px;
    margin: 5px 20px;
}

/* write media query to check user image size 993px */

#clickMeButton {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* #cardImg {
    height: 300px;
} */

/* .modal-fixed-footer {
    background-color: transparent;
    box-shadow: none;
} */

/* .modal-content {
    box-shadow: inset;
} */

.row {
    margin-left: 0;
    margin-right: 0;
  }
  
  .col-md-4, .col-sm-6, .col-lg-3 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .status-indicator {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1.5rem;
  }
  .status-bought {
    background-color: #75c980;
  }
  .status-processing {
    background-color: #03a9f4;
  }
  .status-ready {
    background-color: #4caf50;
    color: #fff;
  }
  .status-delivered {
    background-color: #8bc34a;
    color: #fff;
  }

  .btn-fixed {
    width: 400px;       
    height: 60px; 
    margin: 10px;      
    padding: 10px 20px; 
  }